/dev/ttymxc1              0600   bluetooth  bluetooth
/dev/ttymxc2              0640   radio      radio
/dev/pmem_gpu             0660   system     graphics
/dev/snd/*                0664   system     audio
/dev/ttyUSB*              0640   radio      radio
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video16              0660   system     graphics
/dev/mxc_ipu              0666   system     graphics
/dev/mxc_iim              0660   system     media
/dev/mxs_viim             0660   system     media
/dev/fsl_cache            0666   system     graphics
/dev/gsl_kmod             0666   system     graphics
